/* body {
    padding: 0;
    margin: 0;
  }
  
  main-loader {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
  } */
  
  .mainFader {
    position: absolute;
    width: 100%; 
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);

  }
  .loader {
    width: 25%;
    left:40%; 
    position: fixed;
       /* top: 50%;
     transform: translate(-50%, -50%); */   
  }

  @media(max-width: 600px){
    .loader{
      width: 40%;
      left:30vw;
    }
  } 
  .svg {
    height: 30px;
    display: block;
    margin: 0 auto;
  }
  .path {
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    color: #900c3f;
  }


  .path7 {
    animation-delay: -1s;
  }
  .path6 {
    animation-delay: -0.875s;
  }
  .path5 {
    animation-delay: -0.75s;
  }
  .path4 {
    animation-delay: -0.625s;
  }
  .path3 {
    animation-delay: -0.5s;
  }
  .path2 {
    animation-delay: -0.375s;
  }
  .path1 {
    animation-delay: -0.25s;
  }
  .path 0 {
    animation-delay: -0.125s;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0.1;
    }
    30% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.1;
    }
  }