html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: Gotham-font;
  /* background: linear-gradient(to right, #A20D35 , #24000C); */
  /* background-repeat: no-repeat; */
  
  background-image: url('/prodebg16.png');
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth
  
}

@font-face {
  font-family: "Gotham-Font";
  src: url('../fonts/Gotham-Font/Gotham-Black.otf');
  font-weight: 900;
  font-style: normal;
} 

@font-face {
  font-family: "Gotham-Font";
  src: url('../fonts/Gotham-Font/Gotham-Light.otf');
  font-weight: inherit;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Font";
  src: url('../fonts/Gotham-Font/GothamMedium.ttf');
  font-weight: 700;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c7bdbd;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb:hover {
  background: #a39a9a;
  opacity: 1;
}

::-webkit-scrollbar {
  background: #fff3;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
